.card{
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 230px;
    width: 30%;
    background-color: rgb(197, 132, 143);
    margin: 10px;
    border-radius: 5px;
    font-size: 12px;
    /* overflow: hidden; */
}
.card1{
    height: 160px;
    
    width: 100%;
    background-color: transparent;
}
.card2{
    width: 100%;
    height: 70px;
    padding: 0px 20px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.card2 p{
    margin-bottom: 5px;
}